# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/data/nhanes`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/data/nhanes` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois:

\__teste\__

Person(_id_, gender, age)

Drug(_code_, name)

MedicationUse(_personId_, _drugCode_, _daysUse_)
- CHE: personId para Person
- CHE: drugCode para Drug

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../../../data/nhanes/demographic-person.csv');

In [3]:
SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

In [7]:
CREATE TABLE Medicamento (
  Code VARCHAR(128) NOT NULL,
  Name VARCHAR(128),
  PRIMARY KEY(Code)
) AS SELECT
    code,
    name
FROM CSVREAD('../../../data/nhanes/medications-drug.csv');

In [8]:
SELECT * FROM Medicamento

In [13]:
CREATE TABLE UsoMedicamento (
  PersonId VARCHAR(5) NOT NULL,
  DrugCode VARCHAR(128) NOT NULL,
  DaysUse INTEGER,
  FOREIGN KEY(PersonId) REFERENCES Pessoa(Id),
  FOREIGN KEY(DrugCode) REFERENCES Medicamento(Code)
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../../../data/nhanes/medications-use.csv');

In [14]:
SELECT * FROM UsoMedicamento

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [ ]:
SELECT * FROM Pessoa WHERE Age > 60;

b) Liste as idades das pessoas cadastradas (sem repetições)

In [22]:
SELECT DISTINCT Pessoa.Age FROM Pessoa

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [26]:
SELECT Pessoa.Id, Pessoa.Age, UsoMedicamento.DrugCode, UsoMedicamento.DaysUse 
FROM Pessoa, UsoMedicamento WHERE Pessoa.Id = UsoMedicamento.PersonId;

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [27]:
SELECT Pessoa.Id, Pessoa.Age, Medicamento.Name, UsoMedicamento.DaysUse 
FROM Pessoa, Medicamento, UsoMedicamento WHERE Pessoa.Id = UsoMedicamento.PersonId AND UsoMedicamento.DrugCode = Medicamento.Code;

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [28]:
SELECT DISTINCT Medicamento.Name FROM Medicamento, UsoMedicamento WHERE Medicamento.Code = UsoMedicamento.DrugCode

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [29]:
SELECT DISTINCT Medicamento.Name FROM Medicamento, UsoMedicamento WHERE Medicamento.Code = UsoMedicamento.DrugCode AND UsoMedicamento.DaysUse > 2000